/*affect the font within the box*/
p {
  text-align:center;
  background-color: linen;
  height: 50px;
  padding-top: 15px;
  font-family: cursive;
}

/*The colours around the quotes*/
.w3-card {
  background-color: green;
  padding:20px;
  padding-bottom: 10px;
  opacity: 0.8;
}

/*The text above the new quote form*/
h2 {
  text-align: center;
  font-family: fantasy;
}

/*new quote form*/
form {
  padding-bottom: 30px;
  text-align: center;
  padding-top: 20px;
}

/*Delete Button*/
#danger{
  padding-bottom: 10px;
  margin-left: 50px;
}

body {
  background-color: whitesmoke;
}