<body>
<p>Get ready to be inspired today</p>
<h2>Add Your Quotes!!</h2>
<div class="container">
<form>
  <label for="Quote">New Quote:</label>
  <input type="text" name="Add your quote" />
  <button class="btn btn-success" id="hello">Submit</button>
</form>
<div class="panel" *ngFor='let quote of quotes; let i = index'>
<ul>
  <div class="w3-panel w3-card">
    <p class="panel panel-default">{{quote.name}}</p>
    <app-quote-details [quote]='quotes' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
  </div>
</ul>
<!-- <button (click) ="onclick()" class="btn btn-danger" id="go">Done</button> -->
</div>
</div>
</body>