<body style="background-image: url('./assets/image.jpg')">
<!-- <p>Get ready to be inspired today</p> -->
<h2>Add Your Quotes!!</h2>
<div class="container">
<form>
  <label for="Quote">New Quote:</label>
  <input type="text" name="Add your quote" />
  <button class="btn btn-success" id="hello">Submit</button>
</form>
<div *ngFor='let quote of quotes; let i = index'>
<ul>
  <div class="w3-card">
    <p class="panel panel-default">{{quote.name}}</p>
    <button class="btn btn-primary" (click)='togleDetails(i)'>Details</button>
    <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
  </div>
</ul>
</div>
</div>
</body>